@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "text-white" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav nav-pills">
        <li class ="nav-item nav-link">
            @Html.ActionLink("Manage", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" ,
           @class = "text-white" })
        </li>
        <li class="nav-item nav-link "><a class="text-white" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav nav-pills">
        <li class="nav-item nav-link">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink",  @class = "text-white"})</li>
        <li class="nav-item nav-link">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "text-white" })</li>
    </ul>
}
